head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  meta(name='description' content= pageDescription || '')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  block head
  link(href='./styles/main.min.css' rel='stylesheet')
  title= pageTitle || ''
