html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  $font-size: 16px;
  margin: 0;
  background-color: #f5f6f8;
  color: #22272b;
  font-weight: 400;
  font-size: $font-size;
  font-family: 'Raleway', sans-serif;
  line-height: (20px / $font-size);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
}
