-
  var data = [
    {
      modifier: 'dating',
      title: 'Top Dating',
      list: [
        {
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        }
      ]
    },
    {
      modifier: 'survival',
      title: 'Top Survival',
      list: [
        {
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        }
      ]
    },
    {
      modifier: 'games',
      title: 'Top Games',
      list: [
        {
          free: true,
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        },
        {
          free: true,
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        },
        {
          free: true,
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        },
        {
          free: true,
          subTitle: 'Urlaub auf dem Bauernhof Kasparnellhof',
          rating: 5,
          votes: 1783
        }
      ]
    },
    {
      modifier: 'products',
      title: 'Top Free Ali Products',
      list: [
        {
          subTitle: 'Baseus H04 Бас Звук Наушники - вкладыши спортивные',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'Анти Rfid кошелек Блокировка считыватель замок банк держатель',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'Baseus H04 Бас Звук Наушники - вкладыши спортивные',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'Анти Rfid кошелек Блокировка считыватель замок банк держатель',
          rating: 5,
          votes: 1783
        }
      ]
    },
    {
      modifier: 'money',
      title: 'Top Make Money',
      list: [
        {
          subTitle: 'How To Make Money Online <br> Kindle Edition',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'The 7 Habits of Highly Effective People: <br> Powerful Lessons in Personal Change',
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'The Coaching Habit: Say Less, Ask More & Change the Way You Lead Forever',
          rating: 5,
          votes: 1783
        }
      ]
    },
    {
      modifier: 'utilities',
      title: 'Top Utilities',
      list: [
        {
          subTitle: 'System Mechanic Professional® New',
          price: 55.96,
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'System Mechanic Professional® New',
          price: 55.96,
          rating: 5,
          votes: 1783
        },
        {
          subTitle: 'System Mechanic Professional® New',
          price: 55.96,
          rating: 5,
          votes: 1783
        }
      ]
    }
  ]
